# Data Pre-Processing Assignment

### Brayan Gutierrez, Katie, Jericka

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

## Reading Data

In [3]:
ground_water = pd.read_csv("ground_water_quality_2020_post.csv")
ground_water_df = pd.DataFrame(ground_water)
ground_water_df = ground_water_df.loc[:, ~ground_water_df.columns.str.contains('^Unnamed')]
print(ground_water_df)

     sno  district        mandal       village    lat_gis   long_gis   gwl  \
0      1  ADILABAD      Adilabad      Adilabad  19.668300  78.524700  7.10
1      2  ADILABAD   Bazarhatnur   Bazarhatnur  19.458888  78.350833  3.35
2      3  ADILABAD   Gudihatnoor   Gudihatnoor  19.525555  78.512222  5.05
3      4  ADILABAD       Jainath       Jainath  19.730555  78.640000  2.10
4      5  ADILABAD       Narnoor       Narnoor  19.495665  78.852654  1.38
..   ...       ...           ...           ...        ...        ...   ...
363  375   YADADRI  S.Narayanpur  S.Narayanpur  17.144719  78.860010  9.90
364  376   YADADRI   Thurkapally    Gandamalla  17.733101  78.853831  5.74
365  377   YADADRI     Valigonda    T. somaram  17.399953  78.952290  1.72
366  378   YADADRI     Valigonda   Vemulakonda  17.347782  79.143433  1.65
367  379   YADADRI       Y.Gutta    Mallapuram  17.633555  78.911638  4.92

                season    pH   E.C  ...     SO4      Na      K     Ca  \
0    Post-monsoon 2020  8.01  1477  ...   33.00  171.00   9.00   24.0
1    Post-monsoon 2020  7.77   823  ...   13.50   70.00   3.00   16.0
2    Post-monsoon 2020  8.21   745  ...   10.50   65.00   3.00   16.0
3    Post-monsoon 2020   8.3   433  ...    7.25   31.00   1.00   16.0
4    Post-monsoon 2020  7.67   710  ...   14.50  129.00   2.00   32.0
..                 ...   ...   ...  ...     ...     ...    ...    ...
363  Post-monsoon 2020   7.8  2324  ...   33.00  169.30   2.60  160.0
364  Post-monsoon 2020  8.26  2109  ...   33.00  211.30  43.30   48.0
365  Post-monsoon 2020  8.77  1115  ...   15.00   60.44   3.04   80.0
366  Post-monsoon 2020  7.76  5053  ...  109.00  465.20   3.30  400.0
367  Post-monsoon 2020  8.13  2280  ...   34.00  170.70   5.60  152.0

          Mg          T.H       SAR  Classification  RSC  meq  / L  \
0     72.930   359.876645  3.919146            C3S1       0.602467
1     53.482   259.909539  1.887814            C3S1      -0.198191
2     48.620   239.917763  1.824544            C2S1       0.001645
3     29.172   159.950658  1.065714            C2S1      -0.199013
4      5.000    82.878289  6.160862            C2S1       3.742434
..       ...          ...       ...             ...            ...
363   97.240   799.835526  2.602728            C4S1      -8.596711
364  116.688   599.802632  3.751176            C3S1      -3.396053
365   53.482   419.909539  1.282386            C3S1      -4.398191
366   92.378  1379.843750  5.444988            C4S1     -21.996875
367   97.240   779.835526  2.657689            C4S1     -11.596711

     Classification.1
0                P.S.
1                P.S.
2                P.S.
3                P.S.
4                U.S.
..                ...
363              P.S.
364              P.S.
365              P.S.
366              P.S.
367              P.S.

[368 rows x 26 columns]

## Data Cleaning

In [9]:
ground_water_df['pH'] = pd.to_numeric(ground_water_df['pH'], errors='coerce')
ground_water_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368 entries, 0 to 367
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sno               368 non-null    int64
 1   district          368 non-null    object
 2   mandal            368 non-null    object
 3   village           368 non-null    object
 4   lat_gis           368 non-null    float64
 5   long_gis          368 non-null    float64
 6   gwl               365 non-null    float64
 7   season            368 non-null    object
 8   pH                367 non-null    float64
 9   E.C               368 non-null    int64
 10  TDS               368 non-null    float64
 11  CO3               368 non-null    float64
 12  HCO3              368 non-null    int64
 13  Cl                368 non-null    int64
 14  F                 368 non-null    float64
 15  NO3               368 non-null    float64
 16  SO4               368 non-null    float64
 17  Na                368 non-null    float64
 18  K                 368 non-null    float64
 19  Ca                368 non-null    float64
 20  Mg                368 non-null    float64
 21  T.H               368 non-null    float64
 22  SAR               368 non-null    float64
 23  Classification    368 non-null    object
 24  RSC  meq  / L     368 non-null    float64
 25  Classification.1  368 non-null    object
dtypes: float64(16), int64(4), object(6)
memory usage: 74.9+ KB

### Separating Numeric and Non-numeric Columns

In [10]:
numeric = ground_water_df.select_dtypes(include=['number']).columns
nonnumeric = ground_water_df.select_dtypes(exclude=['number']).columns

print(numeric)
print(nonnumeric)

Index(['sno', 'lat_gis', 'long_gis', 'gwl', 'pH', 'E.C', 'TDS', 'CO3', 'HCO3',
       'Cl', 'F', 'NO3 ', 'SO4', 'Na', 'K', 'Ca', 'Mg', 'T.H', 'SAR',
       'RSC  meq  / L'],
      dtype='object')
Index(['district', 'mandal', 'village', 'season', 'Classification',
       'Classification.1'],
      dtype='object')

### Finding Missing Data

In [11]:
ground_water_df[nonnumeric].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368 entries, 0 to 367
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   district          368 non-null    object
 1   mandal            368 non-null    object
 2   village           368 non-null    object
 3   season            368 non-null    object
 4   Classification    368 non-null    object
 5   Classification.1  368 non-null    object
dtypes: object(6)
memory usage: 17.4+ KB

In [12]:
ground_water_df[numeric].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368 entries, 0 to 367
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sno            368 non-null    int64
 1   lat_gis        368 non-null    float64
 2   long_gis       368 non-null    float64
 3   gwl            365 non-null    float64
 4   pH             367 non-null    float64
 5   E.C            368 non-null    int64
 6   TDS            368 non-null    float64
 7   CO3            368 non-null    float64
 8   HCO3           368 non-null    int64
 9   Cl             368 non-null    int64
 10  F              368 non-null    float64
 11  NO3            368 non-null    float64
 12  SO4            368 non-null    float64
 13  Na             368 non-null    float64
 14  K              368 non-null    float64
 15  Ca             368 non-null    float64
 16  Mg             368 non-null    float64
 17  T.H            368 non-null    float64
 18  SAR            368 non-null    float64
 19  RSC  meq  / L  368 non-null    float64
dtypes: float64(16), int64(4)
memory usage: 57.6 KB